.aboutus {
    z-index: 1;
    position:relative;
    background-color: #1481D0;
    height: 640px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutbo1 {
    position: absolute;
    top:20%;
    transform: rotate(55deg);
    left: -150px;
    background-color: #00C85C;
    height: 205.2762633460206px;
    width: 231.2869377837965px;
    border-radius: 23px;
}

.aboutbox2 {
    background-color: #00C85C;
    height: 205.2762633460206px;
    width: 231.2869377837965px;
    position: absolute;
    top: 45%;
    transform: rotate(-45deg);
    right: -200px;
    border-radius: 23px;

}

.aboudHeading {
    z-index: 2;
    position: absolute;
    margin-bottom: -70px;
    color: white;
    font-family: Rubik;
    font-size: 72px;
    font-weight: 400;
    top:10%;
    letter-spacing: 0em;
    text-align: center;
}

.abobsubpointsContainer p {
    bottom: 00px;
    color: white;
    font-family: Rubik;
    font-size: 48px;
    font-weight: 400;
    line-height: 87px;
    letter-spacing: 0em;
    text-align: center;
}

.helpimage1 {
    position: absolute;
    height: 388px;
    width: 346px;
    top: 55%;
    border-radius: 0px;
    right: 38px
}

.helpimage2 {
    position: absolute;
    width: 346px;
    height: 400PX;
    left: -30PX;
    top: 50%;
    border-radius: 0px;

}


/* teamMembers */
.teamMembers h1 {
    font-family: Rubik;
    font-size: 93px;
    font-weight: 700;
    line-height: 110px;
    text-align: center;
}
   
.teamContainer{
    height: 350px;
    margin: auto;
    position: relative;
    width: 90%;
    place-content: flex;
    display: grid;
    overflow: hidden;
    
}
.slideContainer{  
    display: flex;
    width: calc(250px *32);
    animation: scroll 30s linear infinite;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px *10));
    }
}
.teamCard{
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    transition: transform  1s;
}
.teamCard:hover{
    transform: translatez(200px);
}

.teamCard {
    margin: 10px;
    height: 338.47625732421875px;
    width: 355.1781005859375px;
    left: 72px;
    top: 1197.826171875px;
    border-radius: 16px;
    background: #111540;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    color: white
}

.teamCard img {
    height: 229.62933349609375px;
    width: 219.2148742675781px;
    border-radius: 0px;
}

.teamCard h4 {
    font-family: Rubik;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}
.teamCard p{
    color: #FFFFFF;
    font-family: Rubik;
font-size: 19px;
font-weight: 400;
line-height: 23px;


}
/* motoOfDudar */
.motoOfDudar{
    margin-top: 500px;
    margin:30px;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.motoOfDudar2{
    margin-top: -60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.motoCard{
    margin: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
width:445px;
border: 3px solid #1481D0;
border-radius: 0px;

}
.motoOfDudar2 .motoCard{
    margin-top: 30px;
}
.motoCard lottie-player{
   margin-top: -110px;
    height: 235.667236328125px;
    width: 246px;
    border-radius: 500px;
    

}
.motoCard h3{
    font-family: Rubik;
font-size: 36px;
font-weight: 700;
line-height: 43px;
letter-spacing: 0em;
text-align: left;

}
.motoCard p{
    font-family: Yantramanav;
font-size: 26px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
/* bar 3*/
.aboutbar3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    background-color: #1481D0;
    width: 100vw;
}
.aboutbar3 p{
    text-align: center;
    padding: 20px 0;
    color: white;
    font-family: Rubik;
font-size: 37px;
font-style: italic;
font-weight: 600;
line-height: 44px;

}
/* value card */
.values h1{
    margin: 20px 0;
    font-family: Rubik;
    font-size: 61px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
    text-align: center;   
}
.valuecardContainer{

    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.valueCard{
   background-color: rgba(00, 512, 128, 0.2);
    margin: 20px;
width: 375px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}
.valueTitle{
    font-family: Rubik;
font-size: 35px;
font-weight: 700;
line-height: 53px;
letter-spacing: 0em;
text-align: left;

    margin-top: -10px;
    padding: 40px 0;
    text-align: center;
    width: 375px;
    background-color: white;
}
.valueDiscripition {
    font-family: Rubik;
font-size: 29px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0em;
text-align: center;

            padding: 40px 20px;
            text-align: center;
}

.aboutbox3{
    margin: 30px;
    transform: rotate(-35deg);
    position: relative;
    right: -93%;
    background-color: #1481D0;
    height: 289.0000046902144px;
width: 249.30417274715805px;
border-radius: 30px;

}

@media(max-width:1000px) {
    .aboudHeading {
        font-size: 40px;
    }

    .abobsubpointsContainer p {
        font-size: 24px;
    }
    .motoOfDudar{
        flex-direction: column;
    }
    .motoOfDudar2 .motoCard{
        margin-top: 100px
    }
    .aboutbox3{
        display: none;
    }

    .aboutus{
        margin-top: -50px;
    }
    .helpimage1{
        width: 100px;
        height: 100px;
        top: 70%;
    }
    .helpimage2{
        width: 100px;
        height: 100px;
        top: 70%;
        left: 30px;
       
    }
}
@media(max-width:760px) {
    .aboutus {
        height: 247px;
        width: 100%;
        top: 72px;
    }

    .aboutbo1 {
        height: 80.57720464894841px;
        width: 90.7871841991054px;
       left:-60px

    }

    .aboutbox2 {
        height: 98.07394585005125px;
        width: 110.5009518853116px;
        right: -86px;
       

    }

    .aboudHeading {
        margin-bottom: -35px;
        font-size: 35px;
    }

    .abobsubpointsContainer p {
        font-size: 14px;
        font-family: Rubik;
        line-height: 40px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0em;

    }
    .teamMembers{
        margin-top: 60px;
    }
    .teamMembers h1 {
        font-size: 35px;
    }

    .teamCard {
        height: 260px;
        width: 280px;
        border-radius: 16px;

    }

    .teamCard img {
        height: 158.32882690429688px;
        width: 170.0911102294922px;


    }

    .teamCard h4 {
        margin-top: 20px;
        font-size: 30px;
        line-height: 36px;
    }
    .teamCard p{
        font-size: 19px;
    }
    .motoOfDudar{
        flex-direction: column;
    }
    .motoCard{
        margin-left: 0;
        margin-top: 100px;
         width:296px;
    }
    .motoOfDudar2 .motoCard{
        margin-left: 0;
            margin-top:140px ;
    }   
    .motoCard lottie-player{
        height: 207px;  
width: 213px;   
left: 96.88641357421875px;  
top: 4076.166015625px;
border-radius: 500px;
    }
    .motoCard h3{
        font-size:33px;
        text-align: center;
    }
    .motoCard p{
        font-size: 19px;
    }
    .aboutbar3{
        
        flex-direction: column;
    }
    .aboutbar3 p{
        padding: 20px 0;
        text-align: center;
        font-size: 24px;
        line-height: 30px;
    }
    .values h1{
        font-size: 28px;
    }
    .valuecardContainer{
        margin: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .valueCard{
        width: 295px;
    }
    .valueTitle{
        font-size:24px;
    }
    .valueDiscripition{
        padding: 50px 10px;
        font-size: 20px;
    }
}