.stepContainer {
    padding: 20px 0;
    display: flex;
    width: 80vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.steps {
    display: flex;
    align-items: center;
}

.steps img {
    z-index: 2;
    height: 305px;
    width: 145px;
}

.steps p {
    padding: 10px 0;
    padding-right: 10px;
    padding-left: 100px;
    margin-left: -90px;
    z-index: 1;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    background: #FFFFFF;
    border-radius: 40px;
    box-shadow: 2px -15px 0 #1481D0;

}

.step2 {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.step2 p {
    padding-right: 80px;
    margin-right: -80px;
}

.crisscrosspattern2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    top: 2400px;
    right: -30px;
    height: 400px;
    width: 400px;
}

.crisscrosspattern2>div {
    background-color: #1481D0;
    height: 10px;
    margin-top: 40px;
    width: 236.3130567864171px;
    border-radius: nullpx;
}

.crisscorbar5 {
    position: relative;
    top: 50px;
    margin-right: 100px;
    transform: rotate(30deg);
}

.crisscorbar6 {
    position: relative;
    transform: rotate(-30deg);

}

.crisscorbar7 {
    position: relative;
    top: -40px;

    margin-right: -110px;
    transform: rotate(30deg);
}

#stepsForPhone {
    display: none;
}

.testimonial {
    margin-top: -100px;
    margin-bottom: 100px;
}

.testimonial h1 {
    font-family: Inter;
    font-size: 56px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: center;

}

.studentVideoContainer {
    margin: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.StudentVideoContainerforPhone {
    display: none;
}

.StudentCard {
    padding: auto;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
}

.studentimage {

    cursor: pointer;
    width: 350px;
    height: 200px;
}

.StudentCard span {
    font-family: Inter;
    margin-top: 10px;
    font-weight: 200;
    font-size: 24px;
}

.studentvideo {
    z-index: 5;
    left: 0;
    top: 0;
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
}

.studentvideo iframe {
    width: 800px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width:900px) {
    .StudentCard {
        width: 100%;
        padding: 0
    }
}


/* screenShorts */
.screenshorts {
    margin-top: 30px;
    border-bottom: 100px solid #1481D0;
}

.screenshorts h1 {
    height: 82.41165161132812px;
    border-radius: nullpx;
    margin-bottom: 200px;
    font-family: Inter;
    font-size: 62px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: center;

}

.screenShortsContainers {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
}

.desktopScreenshorts {
    z-index: 2;
    margin-top: -200px;
}

.screenshortGIF {
    height: 423px;
    width: 557px;
    top: 4739.000061035156px;
    border-radius: 0px;

}

.designImaage img {
    overflow: hidden;
}

.PhoneScreenshorts {
    margin-bottom: -70px;
    display: flex;
    z-index: 2;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.PhoneScreenshorts img {
    height: 306px;
    width: 182px;

    border-radius: 0px;

}

.screenshortsPlatform {
    z-index: 1;
    width: 99vw;
    margin-top: -30px;
}

/* use dudat for */
.useDudarfor {
    display: flex;
    flex-direction: column;
}

.useDudarfor span {
    font-family: Inter;
    position: relative;
    top: 140px;
    font-size: 76px;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: nullpx;

}

.NotePoints {
    display: flex;
    align-items: center;
    justify-content: center;
}

.allPoints {
    margin-top: 200px;

}

.fa-arrow-right {
    color: #1481D0;
}

.dudarForPoints {
    margin-top: 30px;
    font-family: Inter;
    font-size: 53px;
    font-weight: 500;
    line-height: 34px;
    text-align: left;

}

.useDudarfoGIF {
    height: 742px;
    width: 648px;
    left: 845px;
    top: 5643px;
    border-radius: 0px;

}

.stepsVideo video {
    display: none;
}

@media(max-width:1190px) {

    .crisscrosspattern2 {
        display: none;
    }

    .dudarwworkingcontainer {
        background-color: transparent;
    }

    .stepContainer {
        display: none;
    }

    .screenshortGIF {
        position: relative;
        height: 218px;
        width: 255px;
        top: -100px;
        align-self: flex-end;
    }

    .NotePoints {
        flex-direction: column;
    }

    .stepsVideo video {
        margin-top: 20px;
        display: block;
        height: 400px;
        width: 100vw;
    }

    .studentVideoContainer {
        display: none;
    }

    .StudentVideoContainerforPhone {
        height: fit-content;
        margin-top: 30px;
        width: 100%;
        display: flex;

    }

    .StudentVideoContainerforPhone a {
        color: black
    }

    .carousel-control-prev,
    .carousel-control-next {
        filter: invert(100%);
    }

    .studentvideo iframe {
        width: 90vw;
        height: 250px;
    }

}

@media(max-width:780px) {

    .testimonial h1 {
        font-family: Inter;
        font-size: 26px;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 0em;
    }

    .card {
        padding-bottom: 280px;
        width: 322px;
        align-items: space-between;
        justify-content: center;
        height: 280px;
        margin-bottom: 230px;
        border-radius: 16px;
        margin-top: -100px;
    }

    .cardDetails {
        align-items: space-between;
    }

    .cardDetails p {
        font-size: 14px;
    }

    .cardContainer {
        margin-top: 229px;
    }

    .feedback {
        margin-top: -35px;
    }

    .feedbackStar {
        font-size: 17px;
        margin: 0;
        padding: 0;
    }

    .card h2 {
        margin: 0;
        font-family: Inter;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
    }

    .feedbackStar {

        height: 19.611062573067557px;
        width: 25.732842238802277px;
        margin-left: 5px;
    }

    .cardDetails img {
        height: 143px;
        width: 132px;
        left: 138px;
        top: 2945px;
        border-radius: 0px;

    }

    .card span {
        align-self: center;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }

    .screenshorts {
        margin-top: 30px;
        border-bottom: 90px solid #1481D0;
    }

    .screenshorts h1 {
        margin: 30px;
        font-size: 26px;
        line-height: 31px;
        text-align: center;
        margin-left: 120px;

    }

    .screenShortsContainers {
        align-items: center;
        justify-content: center;
    }

    .PhoneScreenshorts img {
        margin: 0;
        height: 123.66415405273438px;
        width: 85.42529296875px;
        left: 203.padding;
        top: 4436px;
        border-radius: 0px;
        margin: 0;
    }

    .desktopScreenshorts {
        width: 100vw;
    }

    .screenshortGIF {
        top: 0;
        position: relative;
        height: 118px;
        width: 155px;
        margin-left: 10px;
        align-self: flex-end;
    }

    .useDudarfor span {
        position: static;
        font-size: 40px;
        line-height: 48px;

    }

    .allPoints {
        margin-top: 20px;
    }

    .NotePoints {
        flex-direction: column;
    }

    .dudarForPoints {
        margin-top: 0;
        font-size: 25px;
        font-weight: 500;
        line-height: 34px;
        text-align: left;
    }

    .useDudarfoGIF {
        margin-top: 0;
        height: 235px;
        width: 269px;
        left: 71px;
        top: 5180px;
        border-radius: 0px;

    }
}