.stats1 {}

.statContainer {
    margin-top: 20px;
    position: relative;
}

.stats1 {
    position: relative;
    top: -300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topStats {
    position: relative;
    display: flex;
}

.topStats p {
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 39px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    width: 100%;
    text-align: center;
    top: 20%;
    left: 0px;
    position: absolute;
}

.stats2 {
    position: relative;
    top: -240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statsGif {
    height: 294px;
    width: 294px;
    left: 717px;
    top: 3232px;
    border-radius: 0px;

}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topStats img {
    height: 135px;
    width: 542.6590576171875px;
    left: 1px;
    top: 3283px;
    border-radius: 0px;
}

@media(max-width:1190px) {
    .statContainer {
        margin-top: 30px;
    }

    .statsGif {
        height: 133.00978088378906px;
        width: 114px;

    }

    .topStats img {
        height: 77.82594299316406px;
        width: 229.34884643554688px;
    }

    .topStats p {
        font-family: Inter;
        font-size: 17px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }

    .stats1 {
        top: -150px;
        left: -40px;
    }

    .stats2 {
        top: -130px;
        right: -30px;
    }

    .stats1 .left {
        left: -70px;
    }

    .stats2 .left {
        left: -150px;
    }

    .stats1 .right {
        right: -80px;
    }

    .stats2 .right {
        right: -10px;
    }

    .left p {
        left: -40px;
        text-align: right;
    }

    .stats1 .right p {
        left: 40px;
    }

    .stats2 .right p {
        top: 0px;

        margin-left: 30px;
        align-items: left;
        width: 130px;
        right: -10px;
    }
    
}