/* foooter */
footer{
    position: relative;
    bottom: 0;
    margin-top: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px;
    background: #1481D0; 
}
.subscribe{
    margin-top: 0;
    flex-wrap: wrap;
    text-align: center;
    background: #00C85C;
    height: fit-content;
    width: 99vw;
     display: flex;
     align-items: center;
     justify-content: space-around;
}
.message{
    font-weight: bolder;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.message h3{
    font-family: Inter;
font-size: 41px;
font-weight: 500;
line-height: 50px;
letter-spacing: 0em;
text-align: left;

}
.message h4{
    font-family: Inter;
font-size: 21px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0em;
text-align: left;

}
.imputEmail{
    padding: 0;
    display: flex;
    align-items: center;
}
.imputEmail button{
    background-color: transparent;
    border: none;
    margin: 0;
}
.imputEmail input{
    margin-right: -60px;
    background: #FFFFFF4A;
    color:  white;
  border-radius: 30px;
    border: none;
    font-family: Inter;
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    height: 74px;
    width: 562px;
    left: 1008px;
    top: 6432px;
    border-radius: 37px;
    padding-left: 20px;
        text-align: left;

}
.appInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.appInfo h1{
    font-weight: bold;
    color: white;
    font-weight: bolder;
    font-family: Inter;
font-size: 52px;
font-weight: 500;
line-height: 63px;
letter-spacing: 0em;
text-align: center;

}
.appInfo a{
    text-decoration: none;
}
.downloadButtons{
    display: flex;
    align-items: center;
}
.download{
    height: 60px;
width: 172px;
border-radius: 35px;
    margin-left: 20px;
    text-align: center;
    background: #FFFFFF;
border-radius: 35px;
align-items: center;
justify-content: center;
    display: flex;
    border: none;
}
.downloadButtons img{
    height: 43.00040054321289px;
width: 37.2645263671875px;

}
.downloadButtons button{
    cursor: pointer;
}
.downloadButtons button p{
    font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: center;

}
.appInfo h3{
    font-family: Inter;
font-size: 27px;
font-weight: 500;
line-height: 33px;
letter-spacing: 0em;
text-align: center;
}
.contactInfo{
    width:68vw;
    flex-wrap: wrap;
    color: white;
    display: flex   ;
    text-decoration: none;
    align-items: center ;
    justify-content: space-around;
}
.contactInfo p{
    font-size: 50px;
    margin: 0 s10px;
}
.contactInfo a{
    color: white;
    font-family: Inter;
    font-family: Inter;
    font-size: 23px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    
}
.socialMedia{
    margin: 20px 0;
    width: 48vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@media(max-width:780px){
    .message h3{
font-size: 25px;
    }
    .message h4{
        padding:0 10px;
        font-size: 16px;
        text-align: center;
    }
     .imputEmail{
        margin: 20px 0;
     }
    .imputEmail input{
        margin-right: -20px;
        height: 39.89679718017578px;
        width: 303px;
    }
    .imputEmail button img{
        height: 52.29715347290039px;
width: 52.426719665527344px;
    }
    .appInfo h1{
font-size: 26px;
line-height: 30px;
    }
    .appInfo h3{
        font-size: 20px;
    }
    .downloadButtons button{
        height: 49px;
width: 123px;
    }
    .downloadButtons button img{
        height: 21.500200271606445px;
width: 18.848918914794922px;
    }
    .downloadButtons button p{
        font-size: 14px;
    }
    .socialMedia a img{
        height: 24.362448692321777px;
    width: 31.788692474365234px;
    }
    .firstpipe{
        display: none;
    }
    .contactInfo  a{
font-size: 12px;
    }
}