.becometeacherHeading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: -40px;
    background-color: #1481D0;
    ;
    padding: 10px 0;
}

.becometeacherHeading img {
    height: 256px;
    width: 256px;

}

.headingOfBecomeTeacher {
    color: white;
}

.headingOfBecomeTeacher h1 {
    font-family: Rubik;
    font-size: 69px;
    font-weight: 600;
    line-height: 65px;
}

.headingOfBecomeTeacher h2 {
    font-family: Rubik;
    font-size: 28px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;

}

.messageForTutor {
    padding: 10px 60px;
    font-family: Rubik;
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;

}

.CownloadTutor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 100%;

}

.CownloadTutor button {
    font-family: Rubik;
    align-self: center;
    border: none;
    color: white;
    background-color: #1481D0;
    height: 70px;
    width: 224px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: -5px 4px 10px rgba(0, 0, 0, .4);
}

.tutarStepCard i {
    position: absolute;
    right: 0;
}

.stepsheadigCOntainer {
    display: flex;
    margin-top: -40px;
    align-items: center;
    justify-content: center;
}

.stepsheadigCOntainer h1 {

    font-family: Yantramanav;
    font-size: 235px;
    font-weight: 700;
    line-height: 305px;
    text-align: left;
    color: #1481D0;
}

.stepsheadigCOntainer h2 {
    border-bottom: 5px solid #1481D0;
    ;
    ;
    font-family: Rufina;
    font-size: 57px;
    font-weight: 700;
    line-height: 90px;
    text-align: left;
}

.stepsfortutorContainer {
    position: relative;
    height: 1787px;
    display: flex;
    align-items: center;
    margin: 30px;
    flex-direction: column;

}

.backgroundpattern {
    position: absolute;
    z-index: 1;
    top: -5%;
    ;
    background-color: rgba(112, 179, 242, 0.2);
    height: 1787px;
    width: 632px;
    border-radius: 50%;
}

.tutarStepCard {
    position: absolute;
    left: 0;
    z-index: 2;
    height: 142px;
    cursor: pointer;
    width: 897px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s linear;
}

.tutarStepCard p {
    margin-top: 35px;
    font-family: Rufina;
    font-size: 40px;
    font-weight: 700;
    line-height: 62px;
}

.tutarStepCard span {
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: #00C85C;
    left: 0;
    top: -30px;
    font-family: Yantramanav;
    font-size: 160px;
    font-weight: 700;
}

.tutarStepCard span img {
    z-index: 1;
    margin-top: 190%;
    position: absolute;
    height: 170px;
    width: 5.1817169189453px;

}

.tutarStepCard span .horizontal img {
    top: 170px;
    margin-left: 10px;
    position: absolute;
    width: 350px;
    height: 5px;
}

.tutarStepCard span .reversebar img {
    left: -330px
}

.step4 i {

    left: 10px
}

.step1 {
    left: 400px
}

.step2 {
    top: 20%;

}

.step2 span {
    left: 90%;
}

.step3 {
    top: 40%;
    left: 400px;
}

.step4 {
    top: 60%;

}

.step4 span {
    left: 90%;
}

.step5 {
    top: 80%;
    left: 400px;
}

.stepTutorbox {
    position: absolute;
    background-color: #1481D0;
    height: 323.7665128100037px;
    width: 335.15527633623884px;
    transform: rotate(-50deg);
    top: 2000px;
    right: -280px;
    border-radius: 29px;

}

.informationofstep {
    cursor: pointer;
    width: 897px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1481D0;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.informationofstep i {
    display: none;
}

.informationofstep p {
    color: white;
    font-family: Rufina;
    font-size: 28px;
    font-weight: 700;
    line-height: 47px;
    text-align: center;
}

.informationofstep #tstep2 {
    width: 80%;
}

/* tutar bars for design */
.tutordesignbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tutordesignbar>div {
    height: 27px;
    width: 611px;
    background-color: #1481D0;
}

.tutarbar3 {
    position: relative;
    margin: 10px 0;
    background: #00C85C;
    height: 20px;
    width: 90vw;
    left: 5%;
}

.bannerforTutor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    height: 646px;
    width: 100%;
    left: -10px;
    top: 3541px;
    border-radius: 0px;
    background-color: rgba(00, 512, 128, .2);
}

.bannerforTutor h1 {
    z-index: 2;
    font-family: Rubik;
    font-size: 64px;
    font-weight: 400;
    line-height: 125px;
    letter-spacing: 0em;
    text-align: center;

}

.bannerforTutor h2 {
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;

}

.bannerforTutor img {
    height: 208px;
    width: 234px;

}

.buttonforDOwnloadTutarApp img {
    display: none;
}

.bannerforTutor button {
    text-align: center;
    font-family: Rubik;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .4);
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
    height: 70px;
    width: 384px;
    background-color: #1481D0;
    border: none;
    color: white;
    border-radius: 10px;
}

.quiestionandanswer h1 {
    padding: 20px 0;
    font-family: Rufina;
    font-size: 55px;
    font-weight: 400;
    line-height: 80px;
    text-align: center;

}

.quiestionsContaier {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiestion1 {
    position: relative;
    cursor: pointer;
    margin: 20px;
    width: 90vw;
    background: #1481D01A;
    height: 247px;
}

.teacherTestimonial {

    margin-top: 60px;
}

.quiestionCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quiestion1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiestion1 p {
    font-size: 30px;
    justify-self: center;
    text-align: center;
}

.quiestion1 i {
    position: absolute;
    right: 10px;
    margin-right: 20px;
    color: #1481D0;
    font-size: 40px;

}

.answer {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    width: 90vw;
    background: #1481D01A;
    font-family: Rufina;
    font-size: 23px;
    font-weight: 400;
    line-height: 31px;
}

.answer p {
    padding: 50px;
    justify-content: center;
}

.answer i {
    cursor: pointer;
    position: absolute;
    color: #1481D0;
    font-size: 40px;
    bottom: 0;
    right: 30px;
}

button:hover {
    cursor: pointer;
    box-shadow: none;
}

.subjects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subjects span {
    border-bottom: 7px solid #1481D0;
    font-family: Yantramanav;
    font-size: 70px;
    font-weight: 400;
    line-height: 104px;
    letter-spacing: 0em;
    text-align: center;
}

.subjectbookContainer {
    height: 350px;
    margin: auto;
    position: relative;
    width: 90%;
    place-content: flex;
    display: grid;
    overflow: hidden;

}

.bookSlider {
    display: flex;
    width: calc(250px *32);
    animation: scroll 25s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px *10));
    }
}

.bookImage {
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    transition: transform 1s;
}

.bookImage:hover {
    transform: translatey(-20px);
}
@media(max-width:950px){
     .stepToBecomeATutor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
}

@media(max-width:950px) {
    .stepToBecomeATutor{
        display: block;
    }
    .becometeacherHeading {
        margin-top: 0;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .becometeacherHeading img {
        height: 130px;
        width: 130px;
    }

    .headingOfBecomeTeacher h1 {
        margin-top: 20px;
        text-align: center;
        font-size: 25px;
        line-height: 10px;
    }

    .headingOfBecomeTeacher h2 {
        font-size: 15px;
    }

    .messageForTutor {
        padding: 10px 10px;
        font-size: 15px;
        line-height: 15px;
    }

    .CownloadTutor button {
        height: 47px;
        width: 169px;
        left: 0px;
        top: 0px;
        border-radius: 10px;
        font-size: 13px;
    }

    .stepsheadigCOntainer h1 {
        font-size: 57px;
    }

    .stepsheadigCOntainer h2 {
        font-size: 23px;
        line-height: 30px;
        border-bottom: 3px solid #1481D0;
    }

    .stepsfortutorContainer {
        margin-top: -40px;
        height: 729px;
    }

    .backgroundpattern {
        height: 729px;
        width: 272px;

    }

    .tutarStepCard {
        height: 52px;
        width: 280px;
    }

    .tutarStepCard p {
        margin-top: 25px;
        font-size: 10px;
    }

    .step1 {
        left: 15%;
    }

    .step3 {
        left: 15%;
    }

    .step5 {
        left: 15%;
    }

    .tutarStepCard span {
        top: -10px;
        line-height: 0;
        font-size: 70px;
    }

    .tutarStepCard i {
        display: block;
    }

    .informationofstep {
        height: 80px;
        padding: 0;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 30px;
        width: 300px
    }

    .informationofstep p {
        padding: 20px;
        text-align: center;
        font-size: 12px;
        line-height: 20px;

    }

    .tutordesignbar>div {
        height: 13px;
        width: 170px;

    }

    .tutarbar3 {
        height: 12px;
    }

    .tutarStepCard span img {
        height: 69.5px;
        width: 2px;
    }

    .tutarStepCard span .horizontal img {
        top: 73px;
        width: 180px;
        height: 2px;
    }

    .tutarStepCard span .reversebar img {
        left: -180px;
    }

    .bannerforTutor {
        justify-content: flex-start;
        background-color: white;
        align-items: center;
    }

    .bannerforTutor h1 {
        margin-top: 40px;
        font-size: 1.1rem;
        line-height: 40px;
    }

    .bannerforTutor h2 {
        font-size: 17px
    }

    .bannerforTutor button {
        text-align: center;
        width: 200px;
        height: 40px;
        font-size: 14px;
    }

    .bannerforTutor img {
        display: none;
        height: 200px;
        width: 200px;
    }

    .bannerforTutor {
        height: fit-content;
        justify-content: flex-start;
    }

    .quiestionandanswer h1 {
        font-size: 25px;
    }

    .buttonforDOwnloadTutarApp {
        margin-left: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .buttonforDOwnloadTutarApp img {
        display: block;
    }

    .quiestion1 p {
        padding: 30px 20px;
        font-size: 20px;
    }

    .quiestion1 i {
        bottom: 10px
    }

    .answer {
        flex-direction: column;
    }

    .answer p {
        padding: 20px;
        font-size: 20px;
    }

    .answer i {
        bottom: 10px;

    }

    .subjects span {
        line-height: 40px;
        border-bottom: 4px solid #1481D0;
        font-size: 30px;
    }

    .stepTutorbox {
        display: none;
    }

}