.stepCOntainerPhone{
    margin-top: 20px;   
}

.stepimage img{
    margin: 10px 0;
    margin-left: 10px;
    width: 95vw;
    height: 450px;
}
.stepgifContainer{
    place-self: center;
    margin: 10px 0;
    margin-left: 10px;
    width: 95vw;
    height: 450px;
    background: rgba(112, 179, 242, 0.2);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stepgifContainer img{
        width: 100px;
        height: 60%;
        place-self: center;
}
.stepgifContainer span{
    place-self: center;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    margin: 30px 20px;
    width: 90vw;
    padding: 10px   ;
    font-size: 15px;
    box-shadow: 0 -5px 0px #1481D0;;
}
.prv, .nex{
   margin-top: 90px;
    height: 200px;
    filter: invert(100%);
}